
<div class="list">
<div class="app-container">
  <app-sidebar></app-sidebar>
  <div class="container">
    <h2 class="mt-5">Gestion des élèves</h2>

    <!-- Bouton pour ouvrir le formulaire -->
    <button class="btn ajout float-end me-5 mb-3 " (click)="openAddEleveForm()">Ajouter un élève</button>

    <!-- Tableau des élèves -->
    <table class="table table-striped ">
      <thead class="ligne p-5 des">
        <tr>
          <th class="col">#</th>
          <th class="col">Nom</th>
          <th class="col">Prénom</th>
          <th class="col">Date de naissance</th>
          <th class="col">Genre</th>
          <th class="col-4 text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eleve of eleves; let i = index;">
          <td>{{ i + 1 }}</td>
          <td>{{ eleve.nom }}</td>
          <td>{{ eleve.prenom }}</td>
          <td>{{ eleve.date_naissance | date:'dd/MM/yyyy' }}</td>
          <td>{{ eleve.genre }}</td>
        
          <td class="text-center ">
            <a [routerLink]="['/infos-eleve', eleve.id_eleve]" class="btn voir_plus">
              <img src="/voir_plus.png" class="icon">  
            </a>
            <button (click)="openEditModal(eleve)" class="btn modif">
              <img src="/modifier.png" class="icon" alt="Modifier">
            </button>
            <button (click)="deleteEleve(eleve)" class="btn supp">
              <img src="/supp.png" class="icon" alt="Supprimer">
            </button>
          </td>
        </tr>
        <tr id="foot">
          <th colspan="10"></th>
        </tr>
      </tbody>
    </table>

    <!-- Fond noir (affiché conditionnellement) -->
    <div *ngIf="showAddEleveForm || showEditModal" class="modal-backdrop" (click)="closeModals()"></div>

    <!-- Formulaire d'ajout d'un élève -->
    <div *ngIf="showAddEleveForm" class="modal-content">
      <app-add-eleves (closeForm)="closeAddEleveForm()"></app-add-eleves>
    </div>

    <!-- Formulaire de modification d'un élève -->
    <div *ngIf="showEditModal" class="modal-content">
      <app-edit-eleves [eleve]="selectedEleve" (closeForm)="closeEditModal()"></app-edit-eleves>
    </div>
  </div>
</div>
</div>