<div class="app-container">
  <app-sidebar></app-sidebar>
  <div class="container">
    <h2>Liste des élèves</h2>

    <!-- Bouton pour ouvrir le formulaire -->
    <button class="btn btn-primary float-end mb-3" (click)="openAddEleveForm()">Ajouter un élève</button>

    <!-- Tableau des élèves -->
    <table class="table table-striped">
      <thead class="bg-primary text-white">
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Date de naissance</th>
          <th>Genre</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eleve of eleves; let i = index;">
          <td>{{ i + 1 }}</td>
          <td>{{ eleve.nom }}</td>
          <td>{{ eleve.prenom }}</td>
          <td>{{ eleve.date_naissance | date:'dd/MM/yyyy' }}</td>
          <td>{{ eleve.genre }}</td>
          <td>
            <a [routerLink]="['/modifier', eleve.id_eleve]" class="btn btn-success">Modifier</a>
            <button (click)="deleteEleve(eleve)" class="btn btn-danger ms-2">Supprimer</button>
            <a [routerLink]="['/infos-eleve', eleve.id_eleve]" class="btn btn-info ms-2">Voir plus</a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Fond noir (affiché conditionnellement) -->
    <div *ngIf="showAddEleveForm" class="modal-backdrop" (click)="closeAddEleveForm()"></div>

    <!-- Formulaire d'ajout d'un élève (affiché conditionnellement) -->
    <div *ngIf="showAddEleveForm" class="modal-content">
      <app-add-eleves (closeForm)="closeAddEleveForm()"></app-add-eleves>
    </div>
  </div>
</div>