<div class="app-container">
    <app-sidebar></app-sidebar>
    <div class="main-content">
    <div class="container-fluid">
        <div class="row flex-nowrap">

            <!-- Main Content -->
            <div class="col p-3">
                <h3 class="mb-4 mt-4">Tableau de bord</h3>

                <!-- Statistics -->
                <div class="row g-3">
                    <div class="col-12 col-md-3">
                        <div class="card-custom  p-3 d-flex flex-column align-items-center rounded" id="green">
                            <span class="fs-3 fw-bold d-block">278 M€</span>
                            <span class="fs-6 d-block">Marché du biocontrôle en 2022</span>
                            <span class="fs-7 d-block text-muted text-center">
                                Une croissance de 4 %, témoignant d'un intérêt croissant pour ces solutions naturelles.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card-custom  p-3 d-flex flex-column align-items-center rounded" id="green">
                            <span class="fs-3 fw-bold d-block">13 %</span>
                            <span class="fs-6 d-block text-center">Part du biocontrôle dans les phytosanitaires</span>
                            <span class="fs-7 d-block text-muted text-center">
                                Une alternative écologique adoptée par le secteur agricole.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card-custom  p-3 d-flex flex-column align-items-center rounded" id="green">
                            <span class="fs-3 fw-bold d-block">770</span>
                            <span class="fs-6 d-block text-center">Produits de biocontrôle disponibles en 2024</span>
                            <span class="fs-7 d-block text-muted text-center">
                                Une offre multipliée pour répondre aux besoins des exploitants.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card-custom  p-3 d-flex flex-column align-items-center rounded" id="green">
                            <span class="fs-3 fw-bold d-block">50 %</span>
                            <span class="fs-6 d-block text-center">Objectif de réduction des pesticides d'ici 2030</span>
                            <span class="fs-7 d-block text-muted text-center">
                                Un engagement dans la stratégie Écophyto 2030.
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Carousels -->
                <div class="row g-3 mt-4">
                    <!-- Colonne pour le carrousel 3D -->
                    <div class="col-12 col-md-3" >
                        <div class="rounded p-3" id="green">
                            <div id="carousel3D" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <h1 class="text-center mt-3">POIVRON</h1>
                                    </div>
                                    <div class="carousel-item">
                                        <h1 class="text-center mt-3">TOMATE</h1>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel3D" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Précédent</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel3D" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Suivant</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Colonne pour le carrousel de graphiques -->
                    <div class="col-12 col-md-9 rounded"  id="green">
                        <div id="carouselGraphs" class="carousel slide" data-bs-ride="carousel">
                            <!-- Indicateurs -->
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselGraphs" data-bs-slide-to="0" class="active" aria-current="true"></button>
                                <button type="button" data-bs-target="#carouselGraphs" data-bs-slide-to="1"></button>
                                <button type="button" data-bs-target="#carouselGraphs" data-bs-slide-to="2"></button>
                                <button type="button" data-bs-target="#carouselGraphs" data-bs-slide-to="3"></button>
                                <button type="button" data-bs-target="#carouselGraphs" data-bs-slide-to="4"></button>
                            </div>
                        
                            <!-- Contenu du carrousel -->
                            <div class="carousel-inner">
                                <!-- Première paire de graphiques -->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-6 text-center">
                                            <div class=" p-3">
                                                <canvas id="graph1"></canvas>
                                            </div>
                                            <p id="countGraph1" class="mt-2 fw-bold">Nombre total : </p>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="p-3">
                                                <canvas id="graph2"></canvas>
                                            </div>
                                            <p id="countGraph2" class="mt-2 fw-bold">Nombre total : </p>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Deuxième paire de graphiques -->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-6 text-center ">
                                            <div class=" p-3">
                                                <canvas id="graph3"></canvas>
                                            </div>
                                            <p id="countGraph3" class="mt-2 fw-bold">Nombre total : </p>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class=" p-3">
                                                <canvas id="graph4"></canvas>
                                            </div>
                                            <p id="countGraph4" class="mt-2 fw-bold">Nombre total : </p>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Troisième paire de graphiques -->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-6 text-center">
                                            <div class="p-3">
                                                <canvas id="graph5"></canvas>
                                            </div>
                                            <p id="countGraph5" class="mt-2 fw-bold">Nombre total : </p>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class=" p-3">
                                                <canvas id="graph6"></canvas>
                                            </div>
                                            <p id="countGraph6" class="mt-2 fw-bold">Nombre total : </p>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Quatrième paire de graphiques -->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-6 text-center">
                                            <div class=" p-3">
                                                <canvas id="graph7"></canvas>
                                            </div>
                                            <p id="countGraph7" class="mt-2 fw-bold">Nombre total : </p>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class=" p-3">
                                                <canvas id="graph8"></canvas>
                                            </div>
                                            <p id="countGraph8" class="mt-2 fw-bold">Nombre total : </p>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Cinquième paire de graphiques -->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-6 text-center">
                                            <div class="p-3">
                                                <canvas id="graph9"></canvas>
                                            </div>
                                            <p id="countGraph9" class="mt-2 fw-bold">Nombre total : </p>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class=" p-3">
                                                <canvas id="graph10"></canvas>
                                            </div>
                                            <p id="countGraph10" class="mt-2 fw-bold">Nombre total : </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Contrôles de navigation -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselGraphs" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Précédent</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselGraphs" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Suivant</span>
                            </button>
                        </div>
                        
                </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
