

<div class="list">
    <div class="app-container">
        <app-sidebar></app-sidebar>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row flex-nowrap">
                    <div class="col p-3">
                        <h3 class="mb-4 mt-4">Tableau de bord</h3>
                        <div class="row g-3">
                            <div class="col-12 col-md-6 d-flex flex-column">
                                <div class="card-custom p-3 d-flex flex-column rounded flex-grow-1" id="dcomm">
                                    <span class="title">Derniers commentaires</span>
                                    <div class="comment-box"></div>
                                    <div class="comment-box"></div>
                                    <div class="comment-box"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row g-3 h-100">
                                    <div class="col-6 d-flex">
                                        <div class="card-custom p-3 rounded w-100" id="dresultat">
                                            <span class="title">Dernier résultat</span>
                                            <span class="fs-7 d-block text-center">84% xxx <img src="/fleche.png" class="icon"></span>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex">
                                        <div class="card-custom p-3 rounded w-100" id="comm">
                                            <span class="title">Commentaires</span>
                                            <span class="fs-7 d-block text-center">84% xxx <img src="/fleche.png" class="icon"></span>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex">
                                        <div class="card-custom p-3 rounded w-100" id="inscription">
                                            <span class="title">Inscription</span>
                                            <span class="fs-7 d-block text-center">84% xxx <img src="/fleche.png" class="icon"></span>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex">
                                        <div class="card-custom p-3 rounded w-100" id="reussite">
                                            <span class="title">Réussite d'examen</span>
                                            <span class="fs-7 d-block text-center">84% xxx <img src="/fleche.png" class="icon"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 mt-4">
                            <div class="col-6 d-flex">
                                <div class="action-card rounded w-100" id="find-school">
                                    <span class="title">TROUVER UNE AUTO-ÉCOLE</span>
                                    <span class="arrow">&#x2192;</span>
                                </div>
                            </div>
                            <div class="col-6 d-flex">
                                <div class="action-card rounded w-100" id="find-student">
                                    <span class="title">TROUVER UN ÉLÈVE</span>
                                    <span class="arrow">&#x2192;</span>
                                </div>
                            </div>
                        </div>
                        <div class="foot">
                            <img src="foot_home-admin.png" class="foot-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>