.app-container {
  display: flex;
  min-height: 100vh; 
}

.main-content {
  flex-grow: 1; 
  padding: 20px; 
  overflow-y: auto;
}

/* Fond noir semi-transparent */
.modal-backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
z-index: 1000; /* Assurez-vous que le fond est en dessous du formulaire */
}

/* Conteneur du formulaire */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Utilise 90% de l'espace disponible */
  max-width: 1200px; /* Mais ne dépasse pas cette largeur */
  min-height: 70vh; /* Utilise 70% de la hauteur visible */
  max-height: 90vh; /* Avec un maximum de 90% */
  overflow-y: auto; /* Défilement si contenu trop long */
  padding: 2rem;
  background: white;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  z-index: 1001;
}

.ligne {
background-color: #8C9CF4;
color: black;
}




.ajout {
background-color: #6D81F2;
color: white;
}

.list{
font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings: "wdth" 100
}


/* Bouton Voir plus */
.voir_plus {
  background-color: #C7D9D6;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 5px; /* Espace à droite et à gauche */
}

/* Bouton Modifier */
.modif {
  background-color: #C7D9D6;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 5px; /* Espace à droite et à gauche */
}

/* Bouton Supprimer */
.supp {
  background-color: #D98B8B;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 5px; /* Espace à droite et à gauche */
}

.icon {
  width: 20px; /* Légèrement réduit pour mieux s'adapter */
  height: 20px; /* Garder le ratio carré */
}

#foot {
  background-color: #8C9CF4;
}