<div class="list">
  <div class="app-container">
    <app-sidebar></app-sidebar>
    <div class="container">
      <h2 class="mt-5">Liste des auto-écoles</h2>
  
      <!-- Bouton pour ouvrir le formulaire d'ajout -->
      <button class="btn ajout float-end  me-5 mb-3" (click)="openAddAutoecoleForm()">Ajouter une auto-école</button>
  
      <!-- Tableau des auto-écoles -->
      <table class="table table-striped">
        <thead class="ligne p-5 des">
          <tr>
            <th class="col">#</th>
            <th class="col">Nom</th>
            <th class="col">Adresse</th>
            <th class="col">Téléphone</th>
            <th class="col-4 text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let autoecole of autoecoles; let i = index;">
            <td>{{ i + 1 }}</td>
            <td>{{ autoecole.nom }}</td>
            <td>{{ autoecole.adresse }}</td>
            <td>{{ autoecole.telephone }}</td>
            <td class="text-center ">
              <a [routerLink]="['/infos-autoecole', autoecole.id_autoecole]" class="btn voir_plus">
                <img src="/voir_plus.png">  
                </a>
              <button (click)="openEditModal(autoecole)" class="btn modif ">
                <img src="/modifier.png" alt="Modifier" class="icon">
              </button>
              <button (click)="deleteAutoecole(autoecole)" class="btn supp">
                <img src="/supp.png" alt="Supprimer" class="icon">  
              </button>

            </td>
          </tr>
          <tr id="foot">
            <th colspan="10"></th>
  
          </tr>
        </tbody>
      </table>
  
      <!-- Fond noir (affiché conditionnellement) -->
      <div *ngIf="showAddAutoecoleForm || showEditModal" class="modal-backdrop" (click)="closeModals()"></div>
  
      <!-- Formulaire d'ajout d'une auto-école (affiché conditionnellement) -->
      <div *ngIf="showAddAutoecoleForm" class="modal-content">
        <app-add-autoecole (closeForm)="closeAddAutoecoleForm()"></app-add-autoecole>
      </div>
  
      <!-- Formulaire de modification d'une auto-école (affiché conditionnellement) -->
      <div *ngIf="showEditModal" class="modal-content">
        <app-edit-autoecole [autoecole]="selectedAutoecole" (closeForm)="closeEditModal()"></app-edit-autoecole>
      </div>
    </div>
  </div>