<table class="table table-striped">
    <thead class="bg-primary text-white">
        <tr>
            <th>Sr. No</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de Naissance</th>
            <th>Genre</th>
            <th>Auto-école</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let eleve of eleves; let i = index;">
            <td>{{ i + 1 }}</td>
            <td>{{ eleve.nom }}</td>
            <td>{{ eleve.prenom }}</td>
            <td>{{ eleve.date_naissance | date:'dd/MM/yyyy' }}</td>
            <td>{{ eleve.genre }}</td>
            <td>{{ eleve.autoecole_nom }}</td>
            <td>  <a href="edit/{{eleve.id}}" class="btn btn-success">EDIT</a>    <button (click)="deleteEleve(eleve)" class="btn btn-info"> Delete</button>  </td>

        </tr>
    </tbody>
</table>
