    <header class="d-flex justify-content-between p-3 bg-light">
        <img src="/Easy2Drive_logo.png"  class="logo">
        <button class="btn btn-dark">Se connecter</button>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h1>Découvrez vos statistiques<br>grâce à Easy2Drive</h1>
            <div class="d-flex justify-content-start">
                <button class="btn btn-dark btn-lg position-absolute start-0 ms-5 mt-5">Connectez vous</button>
            </div>
        </div>
        <img src="/Accueil_voiture.png" alt="Accueil Voiture">
    </section>

    <section class="content">
        <div class="content-text">
            <h1>Révise ton code avec </h1>
            <p>L'entraînement au code de la route est essentiel pour réussir l'examen théorique du permis de conduire. Pour cela, l'utilisation de statistiques peut grandement améliorer la préparation des candidats. Les statistiques servent à suivre les progrès, repérer les points faibles et orienter l'apprentissage en fonction des résultats obtenus.
                En général, l'entraînement au code de la route peut commencer dès que vous avez l'âge requis pour passer l'examen, soit 17 ans pour la conduite accompagnée et 18 ans pour la conduite classique.</p>
        </div>
        <img src="/Accueil_Illustration.png" alt="Accueil Illustration" class="illu-stat">
    </section>

