
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<body>
    <body>
        <header class="d-flex justify-content-between p-3 bg-light">
            <img src="/Easy2Drive_logo.png" alt="Logo Easy2Drive" class="logo">
        </header>
        
        <section class="hero">
            <div class="hero-text">
                <h1>Découvrez vos statistiques<br>grâce Easy2Drive</h1>
                <button routerLink="/login">Connectez vous</button>
            </div>
            <img src="Accueil_voiture.png" alt="Accueil Voiture">
        </section>
        
        <section class="content">
            <div class="content-text">
                <h1>Révise ton code avec XXX</h1>
                <p>L'entraînement au code de la route est essentiel pour réussir l'examen théorique du permis de conduire. Pour cela, l'utilisation de statistiques peut grandement améliorer la préparation des candidats. Les statistiques servent à suivre les progrès, repérer les points faibles et orienter l'apprentissage en fonction des résultats obtenus.
                    En général, l'entraînement au code de la route peut commencer dès que vous avez l'âge requis pour passer l'examen, soit 17 ans pour la conduite accompagnée et 18 ans pour la conduite classique. </p>
            </div>
            <img src="/Accueil_Illustration.png" alt="Accueil Illustration" class="illu-stat">
        </section>

